.cover {
  width: 594px;
  height: 216px;
  position: relative;
  background: rgba(176,196,222,0.6) url('/forest.png');
  background-size: 100% 80%;
  background-repeat: no-repeat;
  background-position-y: bottom;
}

div.cover div.header {
  width: 200px;
  text-align: center;
  position: absolute;
  left: 210px;
  top: 19px;
}

div.cover div.header h1 {
  font-size: 3.4rem;
  margin: 0 0 -10px;
}

div.cover div.header h1:first-child {
  transform: rotate(-10deg);
}

div.cover div.header h1:nth-child(2) {
  transform: rotate(2deg);
}

div.cover div.header h1:nth-child(3) {
  transform: rotate(4deg);
}

.fox-wrapper {
  transform: scale(0.7, 0.7);
  position: absolute;
}

.left {
  transform: scale(-0.7, 0.7);
  left: 11px;
  top: -38px;
}

.right {
  top: -38px;
  left: 379px;
}



.fox *, .fox *:after, .fox *:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
}
.fox-wrapper {
  width: 215px;
  height: 275px;
  margin: 13px 30px 0 0;
  float: right;
}
.fox{
  width: 215px;
  height: 275px;
  display: block;
}
.fox .head{
  width: 184px;
  height: 184px;
  display: block;
  background: #ff7373;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  overflow: hidden;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}

.right .fox .head, .right .fox .ear{
  transform: rotate(0);
  -moz-transform: rotate(0);
  -webkit-transform: rotate(0);
}

.fox .head:before, .fox .head:after{
  content: '';
  width: 184px;
  height: 184px;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -92px;
}
.fox .head:before{
  left: -92px;
}
.fox .head:after{
  right: -92px;
}
.fox .head .eye{
  width: 18px;
  height: 9px;
  display: block;
  background: #000;
  border-radius: 18px 18px 0 0;
  position: absolute;
  z-index: 2;
  bottom: 40px;
  animation: piscar 5s step-start 0s infinite;
  -webkit-animation: piscar 5s step-start 0s infinite;
}
.fox .head .eye:nth-child(odd){
  left: 37px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
}
.fox .head .eye:nth-child(even){
  right: 37px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg); 
  -webkit-transform: rotate(-45deg); 
}

.fox .ear{
  width: 93px;
  height: 93px;
  display: block;
  background: #ff9090;
  position: absolute;
  top: 0px;
  transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -webkit-transform: rotate(15deg);
}
.right .fox .ear:nth-child(odd){
  left: 31px;
}
.fox .ear:nth-child(odd) {
  border-radius: 0 93px 0 0;
  left: 48px;
}

.right .fox .ear:nth-child(even){
  right: 0;
  top: 0;
}
.fox .ear:nth-child(even) {
  border-radius: 93px 0 0 0;
  right: -3px;
  top: 20px;
}

.fox .nose{
  display: block;
  background: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
    width: 24px;
    height: 24px;
    top: 165px;
    right: 103px;
}
.right .fox .nose {
  top: 168px;
  right: 80px;
}

.fox .body{
  width: 107px;
  height: 214px;
  display: block;
  background: #ff7373;
  border-radius: 0 214px 214px 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}
.fox .tail{
  width: 215px;
  height: 107px;
  display: block;
  background: #ff7373;
  border-radius: 0 0 214px 214px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}
.fox .tail .before{
  content: '';
  width: 70px;
  height: 70px;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -30px;
}


@keyframes piscar {
  15% {
    height: 1px;
  }
  45% {
    height: 9px;
  }
  50% {
    height: 1px;
  }
}
@-webkit-keyframes piscar {
  15% {
    height: 1px;
  }
  45% {
    height: 9px;
  }
  50% {
    height: 1px;
  }
}
