
.cover {
  background-color: #e7ecd9;
  width: 450px;
  height: 300px;
  background: radial-gradient(1.5em 6.28571em at 1.95em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(1.5em 6.28571em at -0.45em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 1.5em 5.5em, radial-gradient(2.3em 4.57143em at 2.99em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(2.3em 4.57143em at -0.69em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.3) 50%, rgba(255, 255, 255, 0.3) 55%, rgba(255, 255, 255, 0) 55%) 2.3em 4em, radial-gradient(3.5em 6.28571em at 4.55em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 0 0, radial-gradient(3.5em 6.28571em at -1.05em, rgba(255, 255, 255, 0) 50%, rgba(255, 255, 255, 0.25) 50%, rgba(255, 255, 255, 0.25) 55%, rgba(255, 255, 255, 0) 55%) 3.5em 5.5em, radial-gradient(#15ffa5, #00ced1);
  background-color: mediumspringgreen;
  background-size: 1.5em 11em, 1.5em 11em, 2.3em 8em, 2.3em 8em, 3.5em 11em, 3.5em 11em, 100% 100%;
  background-repeat: repeat;
}

div.cover div.header {
  float: left;
  width: 200px;
  text-align: center;
  margin-top: 30px;
}

div.cover div.header h1 {
  font-size: 3.4rem;
}

div.cover div.header h1:first-child {
  transform: rotate(-10deg);
}

div.cover div.header h1:nth-child(2) {
  transform: rotate(2deg);
}

div.cover div.header h1:nth-child(3) {
  transform: rotate(-7deg);
}

.fox *, .fox *:after, .fox *:before{
  box-sizing:border-box;
  margin:0;
  padding:0;
  -webkit-transition: all 100ms ease-in;
  transition: all 100ms ease-in;
  filter: drop-shadow(10px 10px 14px #ddd);
}
.fox-wrapper {
  width: 215px;
  height: 275px;
  margin: 13px 30px 0 0;
  float: right;
}
.fox{
  width: 215px;
  height: 275px;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.fox .head{
  width: 184px;
  height: 184px;
  display: block;
  background: #ff7373;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
  top: 0px;
  right: 0px;
  overflow: hidden;
}
.fox .head:before, .fox .head:after{
  content: '';
  width: 184px;
  height: 184px;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  bottom: -92px;
}
.fox .head:before{
  left: -92px;
}
.fox .head:after{
  right: -92px;
}
.fox .head .eye{
  width: 18px;
  height: 9px;
  display: block;
  background: #000;
  border-radius: 18px 18px 0 0;
  position: absolute;
  z-index: 2;
  bottom: 40px;
  animation: piscar 5s step-start 0s infinite;
  -webkit-animation: piscar 5s step-start 0s infinite;
}
.fox .head .eye:nth-child(odd){
  left: 37px;
  transform: rotate(45deg);
  -moz-transform: rotate(45deg); 
  -webkit-transform: rotate(45deg); 
}
.fox .head .eye:nth-child(even){
  right: 37px;
  transform: rotate(-45deg);
  -moz-transform: rotate(-45deg); 
  -webkit-transform: rotate(-45deg); 
}
.fox .ear{
  width: 93px;
  height: 93px;
  display: block;
  background: #ff9090;
  position: absolute;
  top: 0px;
}
.fox .ear:nth-child(odd){
  border-radius: 0 93px 0 0;
  left: 31px;
}
.fox .ear:nth-child(even){
  border-radius: 93px 0 0 0;
  right: 0px;
}
.fox .nose{
  width: 27px;
  height: 27px;
  display: block;
  background: #000;
  border-radius: 50%;
  position: absolute;
  z-index: 3;
  top: 169px;
  right: 78px;
}
.fox .body{
  width: 107px;
  height: 214px;
  display: block;
  background: #ff7373;
  border-radius: 0 214px 214px 0;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
}
.fox .tail{
  width: 215px;
  height: 107px;
  display: block;
  background: #ff7373;
  border-radius: 0 0 214px 214px;
  position: absolute;
  z-index: 1;
  bottom: 0px;
  right: 0px;
  overflow: hidden;
}
.fox .tail:before{
  content: '';
  width: 57px;
  height: 57px;
  display: block;
  background: #fff;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: -30px;
}


.fox .head, .fox .ear{
  transform: rotate(15deg);
  -moz-transform: rotate(15deg); 
  -webkit-transform: rotate(15deg); 
}
.fox .ear:nth-child(odd) {
    left: 48px;
}
.fox .ear:nth-child(even) {
    right: -3px;
    top: 20px;
}
.fox .nose {
    width: 24px;
    height: 24px;
    top: 165px;
    right: 103px;
}
a.author{
  font-size: 12px;
  text-decoration: none;
  color: #f47c7c;
  position: fixed;
  bottom: 10px;
  right: 10px;
}

@keyframes piscar {
  15% {
    height: 1px;
  }
  45% {
    height: 9px;
  }
  50% {
    height: 1px;
  }
}
@-webkit-keyframes piscar {
  15% {
    height: 1px;
  }
  45% {
    height: 9px;
  }
  50% {
    height: 1px;
  }
}
