* {
  text-align: center;
}

body {
/*
  background: url('/leaves.png')
*/
}

@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
.App-header {
  margin: auto;
  text-align: center;
}

.App-header h1, .cover .header {
  font-family: 'Russo One', cursive;
  font-size: 5rem;
  padding: 0 5px;
  font-weight: bold;
  color: #eee;
}

.App-header h1:first-child {
  transform: rotate(-3deg);
  text-align: right;
}

.App-header h1:nth-child(2) {
  transform: rotate(-1deg);
}

.App-header h1:nth-child(3) {
  transform: rotate(2deg);
  text-align: left;
}

.App-header::after {
  content: "";
  clear: both;
  display: table;
}

.App-box {
  border: 5px lightsteelblue solid;
  border-radius: 25px;
  margin: 10px;
}

.App-box .btn-light, .modal-body {
  background-color: rgba(176,196,222,0.5);
}

.App-box .btn-light {
  padding: 18px 25px 10px;
}

@media (min-width: 768px) {
  .modal-footer .form-check {
    padding-left: 0;
    text-align: left;
  }
}

.price-input {
  position: relative;
  margin-bottom: 10px;
}

.price-input h5 {
  position: absolute;
  right: 30px;
  top: 8px;
}

h2 {
  margin: 5px 0 0;
  font-family: serif;
}
