* {
  text-align: center;
}

@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

.App-header h1, .cover .header {
  font-family: 'Monoton', cursive;
  font-size: 3.5rem;
}

.App-box {
  border: 10px rgba(255,193,7,.4) solid;
  border-radius: 25px;
  margin: 10px;
}

.App-box .btn-light, .modal-body {
  background-color: #E7DCD9;
}

@media (min-width: 768px) {
  .modal-footer .form-check {
    padding-left: 0;
    text-align: left;
  }
}

.price-input {
  position: relative;
  margin-bottom: 10px;
}

.price-input h5 {
  position: absolute;
  right: 30px;
  top: 8px;
}
